.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background-color: #aaaaaa;
    border-bottom: 0.1px solid #4c4c4c;
    padding: 0 20px; 
    position: fixed;
    width: 100%; 
}

.header-left {
    /* Styles for the left part of the header */
}

.header-center {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
}

.username {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 100px;
}

.username p {
    margin: 0;
}

.heading {
    color: #4c4c4c; 
    margin-right: 10px;
}

.dropdown {
    position: absolute;
    top: 35px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 80px; 
}

.dropdown button {
    display: block;
    width: 100%; 
    padding: 5px 10px;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: #f0f0f0;
}

.dropdown button p {
    font-size: 15px;
}

.choose-unit {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.choose-unit p {
    margin: 0;
}

.arrow {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0.1rem;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}


