.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 20px;
}

.inputs label {
  display: flex;
  flex-direction: column;
}

.inputs span {
  font-weight: bold;
  margin-bottom: 5px;
}
